.input-label {
    margin-bottom: -1rem;
    font-size: 16px;
    font-weight: 600;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    color: rgba(0, 0, 0, 0.87) !important
}

.display-span {
    margin-left: 2rem;
    margin-bottom: 1rem !important;
    margin-top: -0.5rem;
    z-index: 5;
}

.color-white {
    margin-top: -0.5rem;
}